body {
	background:gray;
}
.page {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:800px;
	color:white;
}
#page01 {
	background:url("../images/page01.jpg");
}
#page02 {
	background:url("../images/page02.jpg");
}
#page03 {
	background:url("../images/page03.jpg");
}